# Dependencias esenciales optimizadas para Colab (últimas versiones compatibles)
pandas==2.2.1
numpy==1.26.4
scipy==1.13.0
scikit-learn==1.4.2
joblib==1.4.0
requests==2.31.0
matplotlib==3.8.4
h5py==3.11.0
scikit-learn-intelex==2024.0.1
tqdm==4.66.2  # Para barras de progreso